.content, .column {
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 2.5%;
}

h1 {
    text-align: center;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: "Lucida Console", Courier, monospace;
    color: springgreen;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.column:after {
    text-align: center;
}

.button:hover {
    background-color: rgba(4, 94, 212, 0.993);
}

.button {
    background-color: rgb(0, 126, 245);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: "Lucida Console", Courier, monospace;
}

@media screen and (max-width:300px) {
    .column {
        width: 100%;
    }
}